html, body {
    margin: 0;
    height: 100%;
}

.outermost {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 35% 65%;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;
}

.form-container {
    box-shadow: 2px 4px lightgrey;
}

.form {
    display: grid;
    grid-template-columns: 10rem 10rem;
    row-gap: 1rem;
    column-gap: 3rem;
    padding: 2rem;
    background-color: darkkhaki;
    
}

.left-side {
    background-color: cornsilk;
}